<!--<ion-item ng-repeat="x in users" ng-if = "x.id = 4">-->
  <!--{{x.total_points}}-->
<!--</ion-item>-->


<ion-view view-title="Rewards">

  <ion-content >


    <ion-list can-swipe="true">


      <ion-item ng-repeat="item in rewards">
        {{item.cost}}
        {{item.title}}
        {{item.company}}

        <ion-option-button class="button-positive" ng-click="deleteTodo(item.id)">
          Buy
        </ion-option-button>
      </ion-item>
    </ion-list>



    <ion-list can-swipe="true">


      <ion-item ng-repeat="x in users" ng-if = "x.id == 1">
        {{x.total_points}}

        <ion-option-button class="button-positive" ng-click="deleteTodo(item.id)">
          Buy
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


