<ion-view view-title="Rewards">
  <ion-content>

    <ion-tabs class="bar bar-header bar-assertive, tabs-icon-top">

      <ion-tab title="Home">
        <!-- Tab 1 content -->
        <body ng-app="TEST">
        Hello World!
        </body>
      </ion-tab>

      <ion-tab title="About" >
        <!-- Tab 2 content -->
        <h1>"TEST 1</h1>
      </ion-tab>

      <ion-tab title="Settings">
        <!-- Tab 3 content -->
        <body ng-app="TEST">
        Hello World3!
        </body>
      </ion-tab>

    </ion-tabs>
    <ion-list>
      View Friends
      </ion-toggle>
    </ion-list>


    <body ng-app="TEST">
    Hello World!
    </body>

  </ion-content>
</ion-view>


