<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Blaq List Tab -->
  <ion-tab title="Blaq List" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/blaq_list">
    <ion-nav-view name="tab-blaq_list"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Social Tab -->
  <ion-tab title="Social" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/social">
    <ion-nav-view name="tab-social"></ion-nav-view>
  </ion-tab>

  <!-- Leader Board Tab -->
  <ion-tab title="Leader Board" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/leaderboard">
    <ion-nav-view name="tab-leaderboard"></ion-nav-view>
  </ion-tab>

  <!-- Rewards Tab -->
  <ion-tab title="Rewards" icon-off="ion-ios-pricetag-outline" icon-on="ion-ios-pricetag" href="#/tab/rewards">
    <ion-nav-view name="tab-rewards"></ion-nav-view>
  </ion-tab>




</ion-tabs>
